**/.log/
**/__pycache__/
**/venv/
**/migrations/
backend/app.db
backend/.env
**/node_modules/
frontend/dist/
frontend/public/data/cardbase_crypt_playtest.json
frontend/public/data/cardbase_lib_playtest.json
frontend/public/images/cards/playtest/
misc/cards-update/vtescrypt_playtest.csv
misc/cards-update/vtescrypt_tod.csv
misc/cards-update/vteslib_playtest.csv
misc/cards-update/cardbase_crypt_playtest.json
misc/cards-update/cardbase_lib_playtest.json
misc/cards-update/playtest-precon-*
misc/cards-update/playtest-tod-*
