**/__pycache__/
**/venv/
**/migrations/
backend/.projectile
backend/app.db
backend/.flaskenv
backend/gunicorn.conf.py
backend/cardbase_crypt_playtest.json
backend/cardbase_lib_playtest.json
**/node_modules/
**/.parcel-cache/
**/.log/
**/.cache/
**/.nvmrc
frontend/dist/*
!frontend/dist/images/
!frontend/dist/favicon.ico
!frontend/dist/amaranth_ids.json
!frontend/dist/twd_cards_history.json
!frontend/dist/cardbase_crypt.*
!frontend/dist/cardbase_lib.*
frontend/dist/images/cards/en-EN/abaddong7.jpg
frontend/dist/images/cards/en-EN/adrinomanauarag7.jpg
frontend/dist/images/cards/en-EN/angelguerrerog7.jpg
frontend/dist/images/cards/en-EN/anielg7.jpg
frontend/dist/images/cards/en-EN/branimirag7.jpg
frontend/dist/images/cards/en-EN/clarahjortshøjg7.jpg
frontend/dist/images/cards/en-EN/docmartinag7.jpg
frontend/dist/images/cards/en-EN/dominicag7.jpg
frontend/dist/images/cards/en-EN/feastofthesoulssecrets.jpg
frontend/dist/images/cards/en-EN/forcedconfessional.jpg
frontend/dist/images/cards/en-EN/gathiig7.jpg
frontend/dist/images/cards/en-EN/henriquepasqualeg7.jpg
frontend/dist/images/cards/en-EN/jeanguyg7.jpg
frontend/dist/images/cards/en-EN/lucianocarvalhog7.jpg
frontend/dist/images/cards/en-EN/malachig7.jpg
frontend/dist/images/cards/en-EN/marialenag7.jpg
frontend/dist/images/cards/en-EN/monstrousform.jpg
frontend/dist/images/cards/en-EN/neseriang7.jpg
frontend/dist/images/cards/en-EN/nightterrors.jpg
frontend/dist/images/cards/en-EN/obedientflesh.jpg
frontend/dist/images/cards/en-EN/olegkaprizovg7.jpg
frontend/dist/images/cards/en-EN/onewiththeland.jpg
frontend/dist/images/cards/en-EN/opikung7.jpg
frontend/dist/images/cards/en-EN/phaibung7.jpg
frontend/dist/images/cards/en-EN/prentisderbyg7.jpg
frontend/dist/images/cards/en-EN/royg7.jpg
frontend/dist/images/cards/en-EN/sakharg7.jpg
frontend/dist/images/cards/en-EN/saulotsavengingfist.jpg
frontend/dist/images/cards/en-EN/saulotshealingtouch.jpg
frontend/dist/images/cards/en-EN/sculpttheflesh.jpg
frontend/dist/images/cards/en-EN/seraphinag7.jpg
frontend/dist/images/cards/en-EN/sreelekhag7.jpg
frontend/dist/images/cards/en-EN/supercreeps.jpg
frontend/dist/images/cards/en-EN/susiekanog7.jpg
frontend/dist/images/cards/en-EN/swordcane.jpg
frontend/dist/images/cards/en-EN/swordofthearchangel.jpg
frontend/dist/images/cards/en-EN/terroragainstterror.jpg
frontend/dist/images/cards/en-EN/touchofvaleren.jpg
frontend/dist/images/cards/en-EN/trungchauphamg7.jpg
frontend/dist/images/cards/en-EN/unleashingthebestialsoul.jpg
frontend/dist/images/cards/en-EN/visionsofgehenna.jpg
frontend/dist/images/cards/en-EN/visionsofzapathasura.jpg
frontend/dist/images/cards/en-EN/vozhdofsofia.jpg
frontend/dist/images/cards/en-EN/whisperg7.jpg
frontend/dist/images/cards/en-EN/yaelg7.jpg
frontend/dist/images/cards/en-EN/zafirag7.jpg
misc/cards-update/vtescrypt_playtest.csv
misc/cards-update/vteslib_playtest.csv
misc/cards-update/cardbase_crypt_playtest.json
misc/cards-update/cardbase_lib_playtest.json
misc/cards-update/playtest-precon-*