**/__pycache__/
**/venv/
**/migrations/
backend/.projectile
backend/app.db
backend/.flaskenv
backend/gunicorn.conf.py
backend/cardbase_crypt_playtest.json
backend/cardbase_lib_playtest.json
**/node_modules/
**/.parcel-cache/
**/.log/
**/.cache/
**/.nvmrc
frontend/dist/*
!frontend/dist/images/
!frontend/dist/favicon.ico
!frontend/dist/amaranth_ids.json
!frontend/dist/twd_cards_history.json
!frontend/dist/cardbase_crypt.*
!frontend/dist/cardbase_lib.*
misc/cards-update/vtescrypt_playtest.csv
misc/cards-update/vteslib_playtest.csv
misc/cards-update/cardbase_crypt_playtest.json
misc/cards-update/cardbase_lib_playtest.json
misc/cards-update/playtest_precon_*