a
  color: #306090

span.link-like
  color: #306090

h5, .h5, h6, .h6
  font-weight: bold
  color: #6060cc

.error-message
  background: #f090a0

.error-tooltip
  background: #f090a0
  border-radius: 5px
  padding: 0.25em 0.5em
  z-index: 1

.info-message
  background: #d0d0ea

.crypt-total
  color: #7575a5

.blue
  color: #6060cc

.gray
  color: gray

.form-control:focus,
.custom-select:focus
  box-shadow: none
  border-color: gray
.result-header
  background: #d0d0ea
.about-version
  background: #d0d0ea

img.card-popover
  height: 420px
.popover
  max-width: 330px

.name, .prob
  color: #306090

.bg-black
  background: black

.bg-red
  background: lightcoral

.bg-yellow
  background: #ffb040

.deck-sidecrypt,
.deck-sidelibrary
  opacity: 0.55

.deck-sidecrypt img,
.deck-sidelibrary img
  opacity: 0.6

.deck-crypt-table
  width: 100%
  border: 1px solid lightgray
  border: 1px solid lightgray
.deck-crypt-table td
  height: 32px
  border-top: 1px solid lightgray
  border-bottom: 1px solid lightgray
  border-collapse: collapse
.deck-crypt-table td, th
  text-align: center
.deck-crypt-table td.proxy-selector
  width: 1%
.deck-crypt-table td.quantity
  width: 65px
  font-size: 1.1em
.deck-crypt-table td.quantity-no-buttons
  width: 20px
  font-size: 1.1em
  background: rgba(0, 0, 170, 0.05);
  border-right: 1px solid lightgray
.deck-crypt-table td.used
  width: 45px
.deck-crypt-table td.capacity
  width: 40px
.deck-crypt-table td.name
  text-align: left
.deck-crypt-table .discipline td
  border: none
.deck-crypt-table td.disciplines
  width: 264px
.deck-crypt-table td.disciplines.cols-7
  width: 231px
.deck-crypt-table td.disciplines.cols-6
  width: 198px
.deck-crypt-table td.disciplines.cols-5
  width: 165px
.deck-crypt-table td.disciplines.cols-4
  width: 132px
.deck-crypt-table td.disciplines.cols-3
  width: 132px
.deck-crypt-table td.disciplines.cols-2
  width: 132px
.deck-crypt-table td.disciplines.cols-1
  width: 132px

.deck-library-table
  width: 100%
  border: 1px solid lightgray
.deck-library-table td
  height: 37px
  text-align: center
  border-top: 1px solid lightgray
  border-bottom: 1px solid lightgray
  border-collapse: collapse
.deck-library-table td.proxy-selector
  width: 1%
.deck-library-table td.quantity
  width: 65px
  font-size: 1.1em
.deck-library-table td.used
  width: 50px
.deck-library-table td.quantity-no-buttons
  width: 20px
  font-size: 1.1em
  background: rgba(0, 0, 170, 0.05);
  border-left: 1px solid lightgray
  border-right: 1px solid lightgray
.deck-library-table td.name
  text-align: left
.deck-library-table td.cost
  width: 25px
.deck-library-table td.disciplines
  width: 67px
.deck-library-table td.burn
  width: 30px
    
.inventory-crypt-table
  width: 100%
  border-left: 1px solid lightgray
  border-right: 1px solid lightgray
.inventory-crypt-table td
  height: 32px
  text-align: center
  border-top: 1px solid lightgray
  border-bottom: 1px solid lightgray
  border-collapse: collapse
.inventory-crypt-table td.quantity
  width: 65px
  font-size: 1.1em
.inventory-crypt-table td.used
  width: 50px
.inventory-crypt-table td.capacity
  width: 40px
.inventory-crypt-table td.disciplines
  width: 231px
.inventory-crypt-table .discipline td
  border: none
.inventory-crypt-table td.name
  text-align: left
.inventory-crypt-table td.clan
  width: 55px
.inventory-crypt-table td.group
  width: 35px

.inventory-library-table
  width: 100%
  border-left: 1px solid lightgray
  border-right: 1px solid lightgray
.inventory-library-table td
  height: 37px
  text-align: center
  border-top: 1px solid lightgray
  border-bottom: 1px solid lightgray
  border-collapse: collapse
.inventory-library-table td.quantity
  width: 65px
  font-size: 1.1em
.inventory-library-table td.used
  width: 50px
.inventory-library-table td.name
  text-align: left
.inventory-library-table td.cost
  width: 25px
.inventory-library-table td.disciplines
  width: 70px
.inventory-library-table td.burn
  width: 30px
  border-right: 1px solid lightgray

.search-crypt-table
  width: 100%
.search-crypt-table td
  height: 32px
  border-top: 1px solid lightgray
  border-bottom: 1px solid lightgray
  border-collapse: collapse
  text-align: center
.search-crypt-table td.quantity-add
  width: 18px
  border-left: 1px solid lightgray
.search-crypt-table td.quantity
  border-left: 1px solid lightgray
  width: 30px
  font-size: 1.1em
.search-crypt-table td.used
  width: 45px
.search-crypt-table td.quantity-no-buttons
  width: 30px
  font-size: 1.1em
  background: rgba(0, 0, 170, 0.05);
  border-left: 1px solid lightgray
  border-right: 1px solid lightgray
.search-crypt-table td.capacity
  border-left: 1px solid lightgray
.search-crypt-table td.disciplines
  width: 231px
.search-crypt-table td.name
  text-align: left
.search-crypt-table td.group
  border-right: 1px solid lightgray
.search-crypt-table td.clan-group
  border-right: 1px solid lightgray
.search-crypt-table td.prob
  border-right: 1px solid lightgray
.search-crypt-table .discipline td
  border: none

.search-library-table
  width: 100%
.search-library-table td
  height: 36px
.search-library-table td.quantity-add
  width: 18px
  border-left: 1px solid lightgray
.search-library-table td.quantity
  border-left: 1px solid lightgray
  width: 30px
  font-size: 1.1em
.search-library-table td.used
  width: 45px
.search-library-table td.quantity-no-buttons
  width: 30px
  font-size: 1.1em
  background: rgba(0, 0, 170, 0.05);
  border-left: 1px solid lightgray
  border-right: 1px solid lightgray
.search-library-table td.cost
  border-left: 1px solid lightgray
.search-library-table td.prob
  border-right: 1px solid lightgray
.search-library-table td.name
  text-align: left
.search-library-table td.burn
  border-right: 1px solid lightgray
.search-library-table td
  border-top: 1px solid lightgray
  border-bottom: 1px solid lightgray
  border-collapse: collapse
.search-library-table td
  text-align: center
.search-library-table td.name
  text-align: left
.search-library-table div.sets
  font-size: x-small
  text-align: right

.twd-crypt-table
  width: 100%
  border-right: 1px solid lightgray
  border-left: 1px solid lightgray
.twd-crypt-table td
  height: 32px
  border-top: 1px solid lightgray
  border-bottom: 1px solid lightgray
  border-collapse: collapse
.twd-crypt-table td, th
  text-align: center
.twd-crypt-table td.quantity-no-buttons
  width: 22px
  font-size: 1.1em
  background: rgba(0, 0, 170, 0.05);
  border-right: 1px solid lightgray
.twd-crypt-table td.name
  text-align: left
.twd-crypt-table td.clan
  width: 30px

.twd-library-table
  width: 100%
  border-right: 1px solid lightgray
  border-left: 1px solid lightgray
.twd-library-table td
  height: 32px
  text-align: center
  border-top: 1px solid lightgray
  border-bottom: 1px solid lightgray
  border-collapse: collapse
.twd-library-table td.quantity-no-buttons
  width: 22px
  font-size: 1.1em
  background: rgba(0, 0, 170, 0.05);
  border-right: 1px solid lightgray
.twd-library-table td.type
  width: 50px
.twd-library-table td.name
  text-align: left

.twd-librarybytype-table
  width: 100%
  border-left: 1px solid lightgray
  border-right: 1px solid lightgray
.twd-librarybytype-table td
  height: 32px
  text-align: center
  border-top: 1px solid lightgray
  border-bottom: 1px solid lightgray
  border-collapse: collapse
.twd-librarybytype-table td.name
  text-align: left
.twd-librarybytype-table td.type
  width: 50px

div.popover-sets
  font-size: x-small
  text-align: right

ul.no-bullets
  padding-left: 0em
  list-style-type: none

ul.no-bullets .icon
  color: #404080

ul.rulings
  margin: 0
  padding-left: 1.5em
  padding-right: 1em
  list-style-type: square

li.rulings
  padding: 5px

div.popover-rulings
  font-size: small

div.font-large
  font-size: large

font-1.7
  font-size: 1.7em

font-1.85
  font-size: 1.85em

div.forgot-password
  font-size: small

span.password-hide-show
  margin-left: -25px
  padding-right: 10px

span.question-tooltip
  font-size: middle
  color: gray

span.form-error
  font-size: small
  color: red

.capacity-image-results
  height: 23px
.discipline-base-image-results
  height: 24px
.discipline-superior-image-results
  height: 27px
.clan-image-results
  height: 24px
.burn-image-results
  height: 24px
.trifle-image-results
  height: 24px
.advanced-image-results
  height: 20px
.type-image-results
  height: 25px
.cost-image-results
  height: 35px
.discipline-base-image-forms
  width: 34px
  height: 34px
.discipline-superior-image-forms
  width: 40px
  height: 40px
.virtue-image
  margin-left: 4px
  margin-right: 5px
  height: 33px

.discipline-container
  width: 42px
  height: 42px
.virtue-container
  width: 42px
  height: 42px
.discipline-container:hover,
.virtue-container:hover
  cursor: pointer
.discipline-container.state0 .discipline-base-image-forms
  display: flex
  opacity: 0.35
.discipline-container.state0 .discipline-superior-image-forms
  display: none
.discipline-container.state1 .discipline-base-image-forms
  display: flex
.discipline-container.state1 .discipline-superior-image-forms
  display: none
.discipline-container.state2 .discipline-base-image-forms
  display: none
.discipline-container.state2 .discipline-superior-image-forms
  display: flex
.virtue-container.state0 .virtue-image
  display: flex
  opacity: 0.35
.virtue-container.state1 .virtue-image
  display: flex

.result-odd
  background-color: #eaeaea

a.quantity
  position:relative
a.quantity:before
    position: absolute
    content: ''
    top: -12px
    bottom: -12px
    left: -12px
    right: -24px

button.quantity
  display: block
  width: 18px
  height: 27px
  padding: 0px
  background: rgba(255, 255, 255, 0.75)

button.in-deck
  background-color: gray
  color: white

div.in-deck
  width: 28px
  font-size: 1.25em
  text-align: center

div.border-black
  border: 1px solid darkgray
  border-radius: 3px

input.quantity
  height: 32px
  width: 65px
  font-size: 1.1em
  color: black
  text-align: center

.navbar
  padding: 0rem

hr
  margin: 0.5rem

hr.thick
  border: 2px solid lightgray 

.nobr
  white-space: nowrap

textarea.deck-import
  font-family: monospace
  font-size: medium
textarea.deck-import:focus
  color: black

.add-new-card
  max-width: 100%

@media (min-width: 1280px) and (max-width: 1599px)
  .main-container,
  .inventory-container
  .navbar-nav
    min-width: 95%
    max-width: 95%
  .deck-container
    min-width: 1460px
    max-width: 1460px

@media (min-width: 1600px)
  .main-container,
  .inventory-container
  .navbar-nav
    min-width: 1550px
    max-width: 1550px
  .deck-container
    min-width: 1460px
    max-width: 1460px

.dropdown-toggle::after
  content: none

label.group-form:hover
  background-color: darkgray

img.full-width
  width: 100%
  height: auto

div.toggle-search
  width: 47px

div.gray-font-toggle svg 
  width: 30px
  height: 30px
  color: darkgray
div.white-font-toggle svg 
  width: 30px
  height: 30px
  color: white
div.gray-font 
  color: darkgray
div.white-font 
  color: white

div.col-hide
  display:none

div.transparent
  opacity: 0

a:link.noUnderline, a:visited.noUnderline
  text-decoration: none
a:hover.noUnderline
  text-decoration: none

span.margin-half
  display: inline-block
  width: 20px
  textAlign: center

span.margin-third
  display: inline-block
  width: 10px
  textAlign: center

span.margin-full
  display: inline-block
  width: 40px
  textAlign: center

div.checkbox-buttons
  z-index: 0

div.float-right-top,
div.float-right-middle,
div.float-right-bottom,
div.float-left-top,
div.float-left-middle,
div.float-left-bottom
  position:fixed
  width: 48px
  height: 48px
  color: white
  border-radius: 25px
  text-align: center
  z-index: 1

div.float-right-top
  bottom: 135px
  right: 15px

div.float-right-middle
  bottom: 75px
  right: 15px

div.float-right-bottom
  bottom: 15px
  right: 15px

div.float-left-top
  bottom: 135px
  left: 15px

div.float-left-middle
  bottom: 75px
  left: 15px

div.float-left-bottom
  bottom: 15px
  left: 15px

div.clear
  background-color: #A06060
  opacity: 0.8

div.search
  background-color: #709070
  opacity: 0.8

div.add-off,
div.inventory-off
  background-color: #A0A0A0
  opacity: 0.8

div.add-on,
div.inventory-on
  background-color: #707070
  opacity: 0.8

div.add,
div.menu
  background-color: #707070
  opacity: 0.8

div.float-search svg
  width: 80%
  height: auto

div.float-clear svg
  width: 90%
  height: auto

div.float-menu svg
  width: 75%
  height: auto

div.float-add svg
  width: 90%
  height: auto

div.float-inventory svg
  width: 60%
  height: auto

.modal-tooltip
  z-index: 1100

.modal-deck-draw
  width: 60%

.bt-125
  padding-top: 0.125rem

.bp-125
  padding-bottom: 0.125rem

.rp-125
  padding-right: 0.125rem

.lp-125
  padding-left: 0.125rem

.opacity-025
  opacity: 0.25

.opacity-035
  opacity: 0.35

.opacity-075
  opacity: 0.75

td.left-offset-8
  position: absolute
  left: -8px
  border-top: 0px
  border-bottom: 0px
  opacity: 0.75