.crypt-result-table, td.quantity, td.capacity, td.name, td.clan, td.group, td.disciplines, td.cost, td.burn
  border: 1px solid lightgray
.library-result-table, td.quantity, td.capacity, td.name, td.clan, td.group, td.disciplines, td.cost, td.burn, td.type
  border: 1px solid lightgray

// table, th.disciplines
//   border: none

.result-header
  background: #d0d0ea
.about-version
  background: #d0d0ea

// .crypt-result-text,
// .library-result-text
//   font-size: small

.deck-sidecrypt,
.deck-sidelibrary
  opacity: 55%
.deck-sidecrypt img
.deck-sidelibrary img
  opacity: 60%

.crypt-result-table
  width: 100%
.crypt-result-table .quantity
  width: 14%
.crypt-result-table .capacity
  width: 5%
.crypt-result-table .disciplines
  width: 37%
.crypt-result-table .name
  width: 32%
.crypt-result-table .clan
  width: 8%
.crypt-result-table .group
  width: 4%

.crypt-result-table td
  text-align: center
.crypt-result-table td.name
  text-align: left
 
.library-result-table
  width: 70%
.library-result-table .quantity
  width: 20%
.library-result-table .name
  width: 45%
.library-result-table .cost
  width: 5%
.library-result-table .clan,
.library-result-table .disciplines
  width: 23%
.library-result-table .burn
  width: 7%

.library-result-table td
  text-align: center
.library-result-table td.name
  text-align: left

.crypt-result-table .quantity div
  align: justify

.clan-image-results
  height: 27px
.discipline-image-results,
.discipline-base-image-results,
.burn-image-results
  height: 25px
.type-image-results
  height: 27px
.discipline-superior-image-results
  height: 30px
.cost-image-results
  height: 36px
.capacity-image-results
  height: 26px
.discipline-base-image-forms
  width: 34px
  height: 34px
.discipline-superior-image-forms
  width: 40px
  height: 40px
.virtue-image
  margin-left: 4px
  margin-right: 5px
  height: 33px

.discipline-container,
.virtue-container
  width: 42px
  height: 42px
.discipline-container:hover,
.virtue-container:hover
  cursor: pointer
.discipline-container.state0 .discipline-base-image-forms
  display: flex
  opacity: 0.35
.discipline-container.state0 .discipline-superior-image-forms
  display: none
.discipline-container.state1 .discipline-base-image-forms
  display: flex
.discipline-container.state1 .discipline-superior-image-forms
  display: none
.discipline-container.state2 .discipline-base-image-forms
  display: none
.discipline-container.state2 .discipline-superior-image-forms
  display: flex
.virtue-container.state0 .virtue-image
  display: flex
  opacity: 0.35
.virtue-container.state1 .virtue-image
  display: flex

.navbar
  padding: 0rem

.library-result-odd,
.crypt-result-odd
  background-color: #eaeaea

h5, .h5, h6,.h6
  font-weight: bold
  color: #6060cc

.form-control:focus,
.custom-select:focus
  box-shadow: none
  border-color: gray

/* #crypt-image { max-width: 100%; max-height: 100% } */
/* #library-image { max-width: 100%; max-height: 100% } */

/* .fixed-filter { */
/*     position: fixed; */
/*     top: 40px; */
/*     left: 0; */
/*     z-index: 999; */
/*     width: 100%; */
/*     height: 100%; */
/*     overflow-y: scroll; */
/* } */

/* a { color: #306090; } */
/* .hover_c_img a { position:relative; } */
/* .hover_c_img a span { position:absolute; display:none; left: -590px;} */
/* .hover_c_img a:hover span { display:block; } */
/* .hover_l_img a { position:relative; } */
/* .hover_l_img a span { position:absolute; display:none; left: -580px;} */
/* .hover_l_img a:hover span { display:block; } */

/* @media (min-width: 1200px) and (max-width: 1450px) { */
/*     .left-col { */
/*         min-width: 300px; */
/*     } */
/*     .center-col { */
/*         max-width: 580px; */
/*     } */
/*     .right-col { */
/*         max-width: 320px; */
/*     } */
/*     .hover_c_img a span { */
/*         left: -545px; */
/*     } */
/*     .hover_l_img a span { */
/*         left: -525px; */
/*     } */
/*     .main-container{ */
/*         width: 100%; */
/*         max-width: 100%; */
/*     } */
/* } */

/* .warning { background: #f090a0 } */

/* .nobr { */
/*     white-space: nowrap; */
/* } */

/* #closemodalbutton { */
/*     padding: 0; */
/*     border: 0; */
/* } */

/* .modal-dialog-centered { */
/*     justify-content: center; */
/* } */

/* .bootstrap-select .dropdown-menu li a { */
/*     padding-left: 0.25em; */
/* } */