a
  color: #306090

span.link-like
  color: #306090

h5, .h5, h6, .h6
  font-weight: bold
  color: #6060cc

.error-message
  background: #f090a0

.error-tooltip
  background: #f090a0
  border-radius: 5px
  padding: 0.25em 0.5em
  z-index: 1

.info-message
  background: #d0d0ea

.crypt-total
  color: #7575a5

.form-control:focus,
.custom-select:focus
  box-shadow: none
  border-color: gray
.result-header
  background: #d0d0ea
.about-version
  background: #d0d0ea

img.card-popover
  height: 420px
.popover
  max-width: 330px

.name
  color: #306090

.deck-sidecrypt,
.deck-sidelibrary
  opacity: 0.55

.deck-sidecrypt img,
.deck-sidelibrary img
  opacity: 0.6

.deck-crypt-table
  width: 100%
.deck-crypt-table td
  height: 32px
.deck-crypt-table td.proxy-selector
  width: 1%
  border-left: 1px solid lightgray
.deck-crypt-table td.quantity
  width: 16%
  font-size: 1.1em
  border-left: 1px solid lightgray
.deck-crypt-table td.quantity-no-buttons
  width: 10%
  font-size: 1.1em
  background: rgba(0, 0, 170, 0.07);
.deck-crypt-table td.disciplines
  width: 48%
.deck-crypt-table td.group
  border-right: 1px solid lightgray
.deck-crypt-table td.clan-group
  border-right: 1px solid lightgray
.deck-crypt-table td
  border-top: 1px solid lightgray
  border-bottom: 1px solid lightgray
  border-collapse: collapse
.deck-crypt-table .discipline td
  border: none
.deck-crypt-table td
  text-align: center
.deck-crypt-table td.name
  text-align: left
.deck-crypt-table td.text
  text-align: left
  font-size: small

.deck-library-table
  width: 100%
.deck-library-table td
  height: 37px
.deck-library-table td.proxy-selector
  width: 1%
  border-left: 1px solid lightgray
.deck-library-table td.quantity
  width: 16%
  font-size: 1.1em
  border-left: 1px solid lightgray
.deck-library-table td.quantity-no-buttons
  width: 10%
  font-size: 1.1em
  background: rgba(0, 0, 170, 0.07);
.deck-library-table td.name
  width: 51%
.deck-library-table td.cost
  width: 5%
.deck-library-table td.clan,
.deck-library-table td.disciplines
  width: 23%
.deck-library-table td.burn
  width: 7%
  border-right: 1px solid lightgray
.deck-library-table td
  border-top: 1px solid lightgray
  border-bottom: 1px solid lightgray
  border-collapse: collapse
.deck-library-table td
  text-align: center
.deck-library-table td.name
  text-align: left
.deck-library-table td.text
  text-align: left
  font-size: small

.search-crypt-table
  width: 100%
.search-crypt-table td
  height: 32px
.search-crypt-table td.quantity
  border-left: 1px solid lightgray
  width: 1%
.search-crypt-table td.capacity
  border-left: 1px solid lightgray
.search-crypt-table td.group
  border-right: 1px solid lightgray
.search-crypt-table td.clan-group
  border-right: 1px solid lightgray
.search-crypt-table td
  border-top: 1px solid lightgray
  border-bottom: 1px solid lightgray
  border-collapse: collapse
.search-crypt-table .discipline td
  border: none
.search-crypt-table td
  text-align: center
.search-crypt-table td.name
  text-align: left

.search-library-table
  width: 100%
.search-library-table td
  height: 36px
.search-library-table td.quantity
  border-left: 1px solid lightgray
  width: 1%
.search-library-table td.cost
  border-left: 1px solid lightgray
.search-library-table td.name
  text-align: left
.search-library-table td.burn
  border-right: 1px solid lightgray
.search-library-table td
  border-top: 1px solid lightgray
  border-bottom: 1px solid lightgray
  border-collapse: collapse
.search-library-table td
  text-align: center
.search-library-table td.name
  text-align: left
.search-library-table div.sets
  font-size: x-small
  text-align: right

div.popover-sets
  font-size: x-small
  text-align: right

div.popover-rulings
  font-size: small

div.forgot-password
  font-size: small

span.password-hide-show
  margin-left: -25px
  padding-right: 10px

span.question-tooltip
  font-size: middle
  color: gray

span.form-error
  font-size: small
  color: red

div.gray-small
  font-size: small
  color: gray

.capacity-image-results
  height: 23px
.discipline-base-image-results
  height: 24px
.discipline-superior-image-results
  height: 27px
.clan-image-results
  height: 24px
.burn-image-results
  height: 24px
.trifle-image-results
  height: 24px
.advanced-image-results
  height: 20px
.type-image-results
  height: 25px
.cost-image-results
  height: 35px
.discipline-base-image-forms
  width: 34px
  height: 34px
.discipline-superior-image-forms
  width: 40px
  height: 40px
.virtue-image
  margin-left: 4px
  margin-right: 5px
  height: 33px

.discipline-container
  width: 42px
  height: 42px
.virtue-container
  width: 42px
  height: 42px
.discipline-container:hover,
.virtue-container:hover
  cursor: pointer
.discipline-container.state0 .discipline-base-image-forms
  display: flex
  opacity: 0.35
.discipline-container.state0 .discipline-superior-image-forms
  display: none
.discipline-container.state1 .discipline-base-image-forms
  display: flex
.discipline-container.state1 .discipline-superior-image-forms
  display: none
.discipline-container.state2 .discipline-base-image-forms
  display: none
.discipline-container.state2 .discipline-superior-image-forms
  display: flex
.virtue-container.state0 .virtue-image
  display: flex
  opacity: 0.35
.virtue-container.state1 .virtue-image
  display: flex

.library-result-odd,
.crypt-result-odd
  background-color: #eaeaea

a.quantity
  position:relative
a.quantity:before
    position: absolute
    content: ''
    top: -12px
    bottom: -12px
    left: -12px
    right: -24px

button.quantity
  display: block
  width: 18px
  height: 27px
  padding: 0px
  background: rgba(255, 255, 255, 0.75)

button.in-deck
  background-color: gray
  color: white

.navbar
  padding: 0rem

hr
  margin: 0.5rem

hr.thick
  border: 2px solid lightgray 

.nobr
  white-space: nowrap

textarea.deck-import
  font-family: monospace
  font-size: medium
textarea.deck-import:focus
  color: black

.add-new-card
  max-width: 100%

@media (min-width: 1280px) and (max-width: 1599px)
  .main-container,
  .navbar-nav
    min-width: 95%
    max-width: 95%
  .deck-container
    min-width: 1080px
    max-width: 1080px

@media (min-width: 1600px)
  .main-container,
  .navbar-nav
    min-width: 1550px
    max-width: 1550px
  .deck-container
    min-width: 1080px
    max-width: 1080px

.dropdown-toggle::after
  content: none

label.group-form:hover
  background-color: darkgray

img.full-width
  width: 100%
  height: auto

button.full-height
  height: 100%

div.toggle-search
  width: 47px

div.gray-font-toggle svg 
  width: 30px
  height: 30px
  color: darkgray
div.white-font-toggle svg 
  width: 30px
  height: 30px
  color: white
div.gray-font 
  color: darkgray
div.white-font 
  color: white

div.col-hide
  display:none

div.transparent
  opacity: 0

a:link.noUnderline, a:visited.noUnderline
  text-decoration: none
a:hover.noUnderline
  text-decoration: none

span.margin-half
  display: inline-block
  width: 20px
  textAlign: center

span.margin-third
  display: inline-block
  width: 10px
  textAlign: center

span.margin-full
  display: inline-block
  width: 40px
  textAlign: center

div.float-right-bottom
  position: fixed
  width: 48px
  height: 48px
  bottom: 15px
  right: 15px
  color: white
  border-radius: 25px
  text-align: center
  z-index: 1

div.float-right-middle
  position:fixed
  width: 48px
  height: 48px
  bottom: 75px
  right: 15px
  color: white
  border-radius: 25px
  text-align: center
  z-index: 1

div.float-left-bottom
  position:fixed
  width: 48px
  height: 48px
  bottom: 15px
  left: 15px
  color: white
  border-radius: 25px
  text-align: center
  z-index: 1

div.clear
  background-color: #A06060
  opacity: 0.75

div.search
  background-color: #709070
  opacity: 0.75

div.add-on
  background-color: #A0A0A0
  opacity: 0.75

div.add-off
  background-color: #707070
  opacity: 0.75

div.float-search svg
  width: 80%
  height: auto

div.float-clear svg
  width: 90%
  height: auto

div.float-add svg
  width: 90%
  height: auto