@tailwind base
@tailwind components
@tailwind utilities

@layer base
  html
    @apply scroll-pt-3 sm:scroll-pt-16
  body
    @apply text-fgPrimary bg-bgPrimary dark:bg-bgPrimaryDark dark:text-fgPrimaryDark pb-[45px] sm:pb-[25px]
  hr
    @apply text-borderPrimary dark:text-borderPrimaryDark
  a
    @apply text-fgSecondary dark:text-fgSecondaryDark hover:underline
  ul
    @apply list-square pl-5
  li
    @apply pl-1.5

@layer utilities
  .optimize-contrast
    image-rendering: -webkit-optimize-contrast

.react-select
  &__menu
    @apply z-10 #{!important}
  &__single-value,
  &__input
    @apply text-fgPrimary dark:text-fgPrimaryDark #{!important}
  &__control
    @apply bg-bgPrimary dark:bg-bgPrimaryDark border-borderSecondary dark:border-borderSecondaryDark #{!important}
  &__value-container,
  &__dropdown-indicator,
  &__indicators
    @apply bg-bgPrimary dark:bg-bgPrimaryDark #{!important}
  &__menu-list
    @apply bg-bgPrimary dark:bg-bgPrimaryDark text-fgPrimary dark:text-fgPrimaryDark #{!important}
  &__indicator-separator
    @apply bg-borderSecondary dark:bg-borderSecondaryDark #{!important}
  &__dropdown-indicator
    @apply text-borderSecondary dark:text-borderSecondaryDark #{!important}
  &__option--is-focused
    @apply bg-bgCheckboxSelected dark:bg-bgCheckboxSelectedDark #{!important}
  &__option--is-selected
    @apply bg-borderPrimary dark:bg-borderPrimaryDark #{!important}

.no-dropdown.react-select__dropdown-indicator,
.no-dropdown.react-select__indicators
  @apply hidden

.react-select-tags
  &__value-container
    @apply p-0.5 #{!important}
  &__input
    @apply text-fgPrimary dark:text-fgPrimaryDark #{!important}
  &__control
    @apply border-transparent bg-transparent #{!important}
  &__dropdown-indicator,
  &__indicators
    @apply hidden #{!important}
  &__menu
    @apply z-10 #{!important}
  &__menu-list
    @apply bg-bgPrimary dark:bg-bgPrimaryDark text-fgPrimary dark:text-fgPrimaryDark
  &__option--is-focused
    @apply bg-bgCheckboxSelected dark:bg-bgCheckboxSelectedDark #{!important}
  &__option--is-selected
    @apply bg-borderPrimary dark:bg-borderPrimaryDark #{!important}
  &__multi-value
    @apply bg-bgButton dark:bg-bgButtonDark rounded #{!important}
  &__multi-value__label
    @apply border-l border-y border-borderSecondary rounded-l dark:border-borderSecondaryDark text-fgPrimary dark:text-fgPrimaryDark #{!important}
  &__multi-value__remove
    @apply bg-bgButton dark:bg-bgButtonDark rounded-r border-r border-y border-borderSecondary dark:border-borderSecondaryDark #{!important}
  &__multi-value__remove:hover
    @apply bg-borderPrimary dark:bg-borderPrimaryDark text-fgThird dark:text-fgThirdDark #{!important}
  &__multi-value-container
    @apply bg-bgPrimary dark:bg-bgPrimaryDark

.tags-no-remove
  .react-select-tags__input-container,
  .react-select-tags__multi-value__remove
    @apply hidden
  .react-select-tags__multi-value__label
    @apply border rounded border-bgSecondary dark:border-bgSecondaryDark pr-1.5 #{!important}

.tags-bordered.react-select-tags__control
  @apply border border-bgSecondary dark:border-bgSecondaryDark #{!important}

tr:hover div.not-selected.inventory-card-custom
  opacity: .35

.deck-crypt-table,
.deck-library-table
  td
    text-align: center
  td.proxy-selector
    width: 1%
  td.quantity
    font-size: 1.1em
    width: 65px
  td.quantity-add
    width: 22px
  td.quantity-no-buttons
    background: rgba(0, 0, 170, .05)
    border-right: 1px solid var(--bg-secondary)
    font-size: 1.1em
    width: 28px
  td.name
    text-align: left
  td.proxy-set
    width: 120px
  width: 100%

.deck-crypt-table
  td
    height: 32px
  td.used
    width: 45px
  td.capacity
    width: 40px
  td.disciplines td
    min-width: 27px
    @media (max-width: 767px)
      min-width: 24px
  td.clan-group
    width: 50px

.deck-library-table
  td
    height: 38px
  td.cost
    width: 25px
  td.blood
    padding-bottom: 4px
    padding-top: 0
  td.disciplines
    width: 88px
  td.burn
    width: 30px

.search-crypt-table,
.search-library-table
  td
    text-align: center

  td.quantity-add
    width: 22px
  td.used
    font-size: 1.1em
    width: 40px
  td.name
    text-align: left
  width: 100%

.search-crypt-table
  td
    height: 32px
  td.capacity
    width: 25px
  td.disciplines td
    min-width: 27px
    @media (max-width: 576px)
      min-width: 23px

.search-library-table
  td
    height: 36px
  td.cost
    width: 25px
  td.blood
    padding-bottom: 4px
    padding-top: 0

.twd-table
  border-left: 1px solid var(--bg-secondary)
  border-right: 1px solid var(--bg-secondary)
  tr
    border-bottom: 1px solid var(--bg-secondary)
    border-collapse: collapse
    border-top: 1px solid var(--bg-secondary)
    height: 32px
  td
    text-align: center
  td.name
    text-align: left
  td.quantity-no-buttons
    background: rgba(0, 0, 170, .05)
    border-right: 1px solid var(--bg-secondary)
    font-size: 1.1em
    width: 28px
  td.clan
    width: 30px
  td.type
    width: 50px
  td.disciplines
    width: 62px
  width: 100%

.decks-table
  td
    border-bottom: 1px solid var(--bg-secondary)
    border-top: 1px solid var(--bg-secondary)
  .inventory, .clan
    text-align: center
    text-align: center
  .name
    cursor: pointer
    min-width: 25vw
    @media (max-width: 767px)
      min-width: 45vw
  .revision
    color: var(--fg-third)
  .date
    cursor: pointer
    min-width: 100px
    text-align: center
    white-space: nowrap
  .tags
    width: 100%
  th
    font-weight: normal

.inv-import-decks-table,
.inv-import-precons-table
  td
    border-bottom: 1px solid var(--bg-secondary)
    border-top: 1px solid var(--bg-secondary)
  th
    font-weight: normal
  .clan
    min-width: 50px
    text-align: center
  .preview
    min-width: 40px
  .buttons
    min-width: 110px
    text-align: right

.inv-import-decks-table
  .name
    max-width: 250px
    min-width: 250px
    @media (max-width: 576px)
      max-width: 230px
      min-width: 230px
  .revision
    color: var(--fg-third)
  .date
    min-width: 100px
    text-align: center
    white-space: nowrap
  .tags
    width: 100%

.inv-import-precons-table
  .name
    @media (max-width: 576px)
      max-width: 135px
      min-width: 135px
  .set
    color: var(--fg-third)
    width: 100%

.hof-cards-container
  max-width: 800px
.cards-container,
.hof-history-container,
.hof-tournaments-container
  max-width: 1140px
.deck-container
  max-width: 1400px
.search-container,
.navbar-container
  max-width: 1650px
.twd-container
  max-width: 1800px
