@tailwind base
@tailwind components
@tailwind utilities

@layer base
  html
    @apply scroll-pt-3 sm:scroll-pt-16
  body
    @apply text-fgPrimary bg-bgPrimary dark:bg-bgPrimaryDark dark:text-fgPrimaryDark
  a
    @apply text-fgSecondary dark:text-fgSecondaryDark hover:underline
  ul
    @apply list-square pl-5
  li
    @apply pl-1.5
  th
    @apply font-normal

@layer utilities
  .optimize-contrast
    image-rendering: -webkit-optimize-contrast

tr:hover div.not-selected.inventory-card-custom
  opacity: .35

.account-container
  max-width: 550px
.about-container,
.hof-cards-container
  max-width: 760px
.hof-history-container,
.hof-tournaments-container
  max-width: 1140px
.cards-container
  max-width: 1175px
.deck-container
  max-width: 1400px
.inventory-container,
.search-container,
.navbar-container
  max-width: 1550px
.twd-container
  max-width: 1800px

.account-container,
.about-container,
.hof-cards-container,
.cards-container,
.hof-history-container,
.hof-tournaments-container,
.deck-container,
.search-container,
.inventory-container,
.twd-container
  padding-bottom: 45px
  @media (min-width: 768px)
    padding: 16px
  @media (min-width: 1280px)
    padding: 24px
  @media (min-width: 1440px)
    padding: 32px

.inventory-container
  padding-bottom: 44px
  @media (min-width: 768px)
    padding-bottom: 0px
